@if (isIconButton()) {
  <button matIconButton [disabled]="disabled()" [type]="type()" [attr.aria-label]="ariaLabel()">
    @if (icon(); as iconName) {
      <app-icon matButtonIcon [name]="iconName" />
    }
  </button>
} @else {
  <button
    [matButton]="appearance()"
    [class.is-danger]="isDanger()"
    [disabled]="disabled()"
    [type]="type()"
    [attr.aria-label]="ariaLabel() || null"
  >
    @if (icon(); as iconName) {
      <app-icon class="button-icon" matButtonIcon [name]="iconName" />
    }
    <ng-content />
  </button>
}
