@if (iconButton()) {
  <button
    matIconButton
    [class.danger]="intent() === 'danger'"
    [disabled]="disabled()"
    [type]="type()"
    [attr.aria-label]="ariaLabel()"
  >
    @if (icon(); as iconName) {
      <app-icon matButtonIcon [name]="iconName" />
    }
  </button>
} @else {
  <button
    [matButton]="appearance()"
    [class.danger]="intent() === 'danger'"
    [disabled]="disabled()"
    [type]="type()"
    [attr.aria-label]="ariaLabel() || null"
  >
    @if (icon(); as iconName) {
      <app-icon matButtonIcon [name]="iconName" />
    }
    <ng-content />
  </button>
}
