<mat-form-field appearance="outline">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  <input
    matInput
    [matDatepicker]="picker"
    [value]="selectedDate()"
    [disabled]="disabled()"
    [errorStateMatcher]="errorStateMatcher"
    (keydown)="prepareDateForEditing($event)"
    (input)="onDateTextInput($event)"
    (dateInput)="onDatePickerInput($event)"
    (blur)="onBlur($event)">
  <mat-hint>YYYY-MM-DD</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="disabled()" />
  <mat-datepicker #picker [disabled]="disabled()" />
  @if (errorMessage(); as message) {
    <mat-error>{{ message }}</mat-error>
  }
</mat-form-field>
