<mat-form-field appearance="outline">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  @if (multiline()) {
    <textarea
      matInput
      [rows]="rows()"
      [formField]="field()"
      [placeholder]="placeholder()"
    ></textarea>
  } @else {
    <input
      matInput
      [type]="type()"
      [formField]="field()"
      [placeholder]="placeholder()">
  }
  @if (errorMessage(); as message) {
    <mat-error>{{ message }}</mat-error>
  }
  @if (showCharacterCount() && maxLength() !== null) {
    <mat-hint align="end">{{ characterCount() }} / {{ maxLength() }}</mat-hint>
  }
</mat-form-field>
