<mat-form-field appearance="outline" [floatLabel]="floatLabel()">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  @if (multiline()) {
    <textarea
      matInput
      [rows]="rows()"
      [formField]="field()"
      [placeholder]="visiblePlaceholder()"
      (focus)="onFocus()"
      (blur)="onBlur()"
    ></textarea>
  } @else {
    <input
      matInput
      [type]="type()"
      [formField]="field()"
      [placeholder]="visiblePlaceholder()"
      (focus)="onFocus()"
      (blur)="onBlur()">
  }
  @if (errorMessage(); as message) {
    <mat-error>{{ message }}</mat-error>
  }
  @if (showCharacterCount() && maxLength() !== null) {
    <mat-hint align="end">{{ characterCount() }} / {{ maxLength() }}</mat-hint>
  }
</mat-form-field>
