<mat-form-field appearance="outline">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  <input
    matInput
    [matTimepicker]="picker"
    [value]="selectedTime()"
    [disabled]="disabled()"
    [errorStateMatcher]="errorStateMatcher"
    (valueChange)="onTimeChange($event)"
    (blur)="markAsTouched()">
  <mat-hint>HH:mm</mat-hint>
  <mat-timepicker-toggle matIconSuffix [for]="picker" [disabled]="disabled()" />
  <mat-timepicker #picker interval="15m" />
  @if (errorMessage(); as message) {
    <mat-error>{{ message }}</mat-error>
  }
</mat-form-field>
